* {
 /*  outline: solid 1px green; */
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

body {
  height: 100%;
  background-color: gray;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  height: 600px;
  width: 1000px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  overflow-y: hidden;
}

#index-container {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.value-table {
color: white;
padding: 0.5rem;

}

tbody {
  text-align: left;
}



#plane {
  position: absolute;
  z-index: 0;
  width: 0;
  height: 0;
  border-left: 800px solid transparent;
  border-bottom: 300px solid lightslategray;
}

.vector {
  color: white;
}

#box {
  background-color: purple;
position: inherit;
right: 100px;
bottom: 80px;
  z-index: 999;
  height: 80px;
  width: 80px;
  transform: rotate(rad);
  display: flex;
  align-items: center;
  justify-content: center;
}

#f1 {
  position: inherit;
  display: flex;
  height: 2px;
width: 200px;
display: flex;
justify-content: flex-start;
  align-items: flex-end;
  background: linear-gradient(
    to right,
    rgb(255, 146, 50) 50%,
    transparent 51% 100%
  );
}

#f1 #f1-title {
  position: relative;
  z-index: 2;
  left: 2px;
  bottom: 2px;
}

#f1 i {
  position: relative;
  top: 6.9px;
  color: rgb(255, 146, 50)
}
#ff {
  position: inherit;
  display: flex;
  height: 2px;
width: 200px;
display: flex;
justify-content: flex-end;
  align-items: flex-start;
  background: linear-gradient(
    to left,
    lightgreen 50%,
    transparent 51% 100%
  );
}

#ff i {
  position: relative;
  top: -7.4px;
  color: lightgreen
}

#fn i {
  position: relative;
  display: flex;
  bottom: 1px;
  left: 21px;
  color:Red;
}

#fn {
  position: inherit;
  height: 200px;
  width: 2px;
  display: flex;
justify-content: flex-end;
background: linear-gradient(
    to bottom,
    red 50%,
    blue 51% 100%
  );
}

#fn #fn-title {
  position: relative;
  right: 14px;
  bottom: 7px;
}
#fn #f1-title {
  position: relative;
}

#arrow-down {
  position: relative;
  display: flex;
  top: -3px;
  right: 5.9px;
  color:blue;
}


#fg {
  position: inherit;
  height: 200px;
  width: 2px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background: linear-gradient(
    to top,
    white 50%,
    transparent 51% 100%
  );
  transform: rotate(0.25rad);
}

#fg-title {
  position: relative;
  right: 14px;
}

#fg i {
  color: white;
  position: relative;
  display: flex;
  bottom: -4px;
  left: 27.5px;
}

#f2 {
  position: inherit;
  display: flex;
  height: 200px;
width: 1px;
display: flex;
justify-content: flex-start;
  align-items: flex-end;
  background-color: transparent;
}

#mk {
  position: inherit;
  width: 300px;
  height: 2px;
  top: 100px;
  display: flex;
justify-content: center;
  align-items: flex-start;
  background-color: rgb(255, 146, 50);
  text-align: center;
}

#angle {
  position: relative;
  z-index: 1;
  right: 400px;
  top: 50px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#angle-text {
  position: relative;
  color: white;
  font-size: 18px;
  font-weight: 200;
  bottom: 15px;
  left: 80px;
  
}

:root {
  --box_bottom: -3px;
  --box_right: 3px;
  --box_slide_bottom: -120px;
  --box_slide_right: 2350px;
  --box_velocity: 10s;
  --animation_delay: 0s;
}

.box-animation {
  animation-name: box_slide;
  animation-duration: var(--box_velocity);
  animation-delay: var(--box_delay);
  animation-fill-mode:both;
}
@keyframes box_slide {
  from {
    bottom: var(--box_bottom);
    right: var(--box_right);
  }
  100%{
    bottom: var(--box_slide_bottom);
    right: var(--box_slide_right);
  }
}