* {
 /*  outline: solid 1px green; */
}
html {
  height: 100%;
}

body {
  height: 100%;
  background-color: gray;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  height: 600px;
  width: 1000px;
  background-color: black;
  border-radius: 10px;;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

#plane {
  position: absolute;
  z-index: 0;
  width: 0;
  height: 0;
  border-left: 800px solid transparent;
  border-bottom: 300px solid lightslategray;
}


#box {
  background-color: lightgreen;
position: inherit;
right: 100px;
bottom: 80px;
  z-index: 999;
  height: 80px;
  width: 80px;
  border-radius: 5px;
  transform: rotate(rad);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -1px;
}

#fn {
  position: inherit;
  height: 200px;
  width: 1px;
  background-color: red;
}

#ff {
  position: inherit;
  height: 1px;
width: 200px;
  background-color: green;
}

#fg {
  position: inherit;
  height: 200px;
  width: 1px;
  background-color: pink;
  transform: rotate(0.25rad);
}

:root {
  --box_bottom: -3px;
  --box_right: 3px;
  --box_slide_bottom: -120px;
  --box_slide_right: 2350px;
}

.box-animation {
  animation-name: box_slide;
  animation-duration: 20s;
  animation-delay: 0s;
  animation-fill-mode:both;
}
@keyframes box_slide {
  from {
    bottom: var(--box_bottom);
    right: var(--box_right);
  }
  100%{
    bottom: var(--box_slide_bottom);
    right: var(--box_slide_right);
  }
}